@{
    ViewBag.Title = "Comentarios | El Trébol";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<div id="content_admin" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    @RenderPage("~/Views/Shared/Back_end/Alert/alert_usuario.cshtml")
    @RenderPage("~/Views/Comentarios/Cerrar/modal_cerrar.cshtml")
    <h1 class="element-inline-block"><i class="fa fa-comments-o" aria-hidden="true"></i> Comentarios publicados</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Publicacion</th>
                <th scope="col"><i class="fa fa-commenting-o" aria-hidden="true"></i> Comentario</th>
                <th scope="col"><i class="fa fa-user-secret" aria-hidden="true"></i> Remitente</th>
                <th scope="col"><i class="fa fa-phone-square" aria-hidden="true"></i> Tel&eacute;fono</th>
                <th scope="col"><i class="fa fa-mobile" aria-hidden="true"></i> Celular</th>
                <th scope="col"><i class="fa fa-envelope" aria-hidden="true"></i> Email</th>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> Fecha de comentario</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.cantComent > 0)
            {
                foreach (var comentario in ViewBag.comentarios)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Index", "Producto", new { id_publicacion = @comentario.id_publicacion })" class="btn btn-link">
                                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                @if(comentario.Publicacion.titulo.Length > 30)
                                { @comentario.Publicacion.titulo.Substring(0, 30)WriteLiteral("..."); }
                                else { @comentario.Publicacion.titulo }
                            </a>
                        </td>
                        <td>
                            @if(comentario.comentario1.Length > 30)
                            { @comentario.comentario1.Substring(0, 30)WriteLiteral("..."); }
                            else { @comentario.comentario1 }
                        </td>
                        <td id="nombre_@comentario.id_comentario">@comentario.apellido, @comentario.nombre</td>
                        <td>@comentario.telefono</td>
                        <td>@comentario.celular</td>
                        <td id="mail_@comentario.id_comentario">@comentario.mail</td>
                        <td id="fecha_@comentario.id_comentario">@comentario.fecha_pregunta</td>
                        <td>
                            <a id="comentario_@comentario.id_comentario" href="" class="btn btn-primary cerrar-comentario"><i class="fa fa-commenting" aria-hidden="true"></i> Ver y cerrar</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">No hay comentarios publicados a la fecha</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="8" class="text-right">Comentarios de el Tr&eacute;bol.</td>
            </tr>
        </tfoot>
    </table>
</div>

@section scripts_admin {
    @RenderPage("~/Views/Shared/Back_end/Sections/adminScripts.cshtml")
}