<div class="list-group">
    <div href="" type="button" class="list-group-item active"><h4><i class="fa fa-comments-o" aria-hidden="true"></i> Comentarios:</h4></div>
    <a href="@Url.Action("Index", "Comentarios")" type="button" class="list-group-item"><i class="fa fa-comments" aria-hidden="true"></i> Comentarios <span class="badge">@ViewBag.cantComent</span></a>
    <a href="@Url.Action("Finalizados", "Comentarios")" type="button" class="list-group-item"><i class="fa fa-comments-o" aria-hidden="true"></i> Finalizados<span class="badge">@ViewBag.cantComentFin</span></a>
</div>
<div class="list-group">
    <div type="button" class="list-group-item active"><h4><i class="fa fa-cubes" aria-hidden="true"></i> Productos:</h4></div>
    <a href="@Url.Action("index", "admin")" type="button" class="list-group-item"><i class="fa fa-cubes" aria-hidden="true"></i> Listado de productos<span class="badge">@ViewBag.cantPubli</span></a>
    <a href="@Url.Action("negocios_cerrados", "admin")"  type="button" class="list-group-item"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Negocios Cerrados<span class="badge">@ViewBag.cantClosed</span></a>
    <a href="@Url.Action("alta_producto", "admin")" type="button" class="list-group-item"><i class="fa fa-cart-plus" aria-hidden="true"></i> Nuevo producto</a>
</div>
<div class="list-group">
    <div type="button" class="list-group-item active"><h4><i class="fa fa-users" aria-hidden="true"></i> Usuarios:</h4></div>
    <a href="@Url.Action("Index", "Usuario")" type="button" class="list-group-item"><i class="fa fa-users" aria-hidden="true"></i> Listado de usuarios <span class="badge">@ViewBag.cantUsers</span></a>
    <a href="" type="button" id="crear_usuario_lateral" class="list-group-item"><i class="fa fa-user-plus" aria-hidden="true"></i> Alta usuarios</a>
</div>