@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="single_product" class="row">
    <div class="xs-hidden sm-hidden col-md-3 col-lg-3"></div>
    <div class="xs-hidden sm-hidden col-md-6 col-lg-6">
        @RenderPage("~/Views/Producto/Comentario/modal_comentario.cshtml")
        @RenderPage("~/Views/Shared/Front_end/Alerts/alert_producto.cshtml")
        <h1>@ViewBag.publicacion[0].titulo | <small><i class="fa fa-calendar-check-o" aria-hidden="true"></i> @ViewBag.publicacion[0].fecha_publicacion</small></h1>
        @RenderPage("~/Views/Producto/Carousel/carousel.cshtml")
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        <h3>Caracter&iacute;stica</h3>
                    </th>
                    <th scope ="col">
                        <h3>Detalle</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Tipo de producto</th>
                    <td>
                        <span class="label label-success">
                            @{
                                string faName = "";
                                if (ViewBag.publicacion[0].Producto.nombre == "Casa") { faName = "fa-home"; } else if (ViewBag.publicacion[0].Producto.nombre == "Departamento") { faName = "fa-building-o"; } else { faName = "fa-shopping-cart"; }
                            }
                            <i class="fa @faName" aria-hidden="true"></i> @ViewBag.publicacion[0].Producto.nombre
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-suitcase" aria-hidden="true"></i> Negocio</th>
                    <td><span class="label label-danger"><i class="fa fa-shopping-bag" aria-hidden="true"></i> @ViewBag.publicacion[0].TipoNegocio.tipo</span></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-money" aria-hidden="true"></i> Forma de pago</th>
                    <td><span class="label label-danger"><i class="fa fa-money" aria-hidden="true"></i> @ViewBag.publicacion[0].FormaPago.formaPago1</span></td>
                </tr>
                <tr>
                    <th scope="row"><i class=" fa fa-usd" aria-hidden="true"></i> Precio</th>
                    <td><span class="label label-primary"><i class="fa fa-usd" aria-hidden="true"></i> @Decimal.Round(ViewBag.publicacion[0].precio, 2)</span></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-map-o" aria-hidden="true"></i> Ubicaci&oacute;n</th>
                    <td>
                        <span class="label label-info">
                            Bº: @ViewBag.publicacion[0].barrio <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                        <span class="label label-info">
                            Ldad: @ViewBag.publicacion[0].Localidad.Nombre <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                        <span class="label label-info">
                            Dpto: @ViewBag.publicacion[0].Localidad.Departamento.Nombre <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                        <span class="label label-info">
                            Prov: @ViewBag.publicacion[0].Localidad.Departamento.Provincia.Nombre <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-right">Detalles de la publicación El Tr&eacute;bol.</td>
                </tr>
            </tfoot>
        </table>
        <p id="descripcion_publi"></p>
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <button id="publicacion_@ViewBag.publicacion[0].id_publicacion" class="btn btn-success btn-lg"><i class="fa fa-envelope-o" aria-hidden="true"></i> Consultar publicaci&oacute;n</button>
            </div>
            <div class="hidden-xs hidden-sm col-md-4 col-lg-4"></div>
        </div>
    </div>
    <div class="xs-hidden sm-hidden col-md-3 col-lg-3"></div>
</div>

@section scripts {
    @RenderPage("~/Views/Shared/Front_end/Sections/frontendScripts.cshtml")
    @{string cadena = ViewBag.publicacion[0].descripcion.Replace(Environment.NewLine, "*");}
    <script type="text/javascript">
        var text = '@(cadena)';
        text = text.split('*');
        text = text.join('</p><p>');
        $('#descripcion_publi').html(text);
    </script>
}
