@{
    ViewBag.Title = "Usuarios | El Trebol Inmobiliaria";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<div id="content_admin" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    @RenderPage("~/Views/Usuario/Create/modal_create.cshtml")
    @RenderPage("~/Views/Usuario/Update/modal_update.cshtml")
    @RenderPage("~/Views/Shared/Back_end/Alert/alert_usuario.cshtml")
    <h1 class="element-inline-block">Usuarios activos</h1>&nbsp;<a href="" type="button" class="btn btn-primary btn-sm" id="crear_usuario" , name="crear_usuario"><i class="fa fa-user-plus" aria-hidden="true"></i> Crear usuario</a>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center" scope="col">Id</th>
                <th class="text-center" scope="col">Nombre</th>
                <th class="text-center" scope="col">Apellido</th>
                <th class="text-center" scope="col">Mail</th>
                <th class="text-center" scope="col">Teléfono</th>
                <th class="text-center" scope="col">Imagen</th>
                <th class="text-center" scope="col">Tipo de usuario</th>
                <th class="text-center" scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.cantUsers > 0)
            {
                string disabled = "";
                if (ViewBag.cantUsers == 1) { disabled = "disabled"; }
                foreach (var usuario in ViewBag.usuarios)
                {
                    <tr id="user-@usuario.id_usuario">
                        <td class="text-center">@usuario.id_usuario</td>
                        <td class="text-center">@usuario.nombre</td>
                        <td class="text-center">@usuario.apellido</td>
                        <td class="text-center">@usuario.mail</td>
                        <td class="text-center">@usuario.telefono</td>
                        <td class="text-center">
                            @if (usuario.id_foto == null)
                            {
                                <img src="~/images/avatars/@usuario.Avatar.avatar1" class="img-responsive img-circle img-back-user" />
                            }
                            else
                            {
                                <img src="~/images/foto_usuarios/@usuario.Foto.foto1" class="img-responsive img-circle img-back-user" />
                            }
                        </td>
                        <td class="text-center">
                            <span class="label label-success">@usuario.Rules.nombre</span>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("perfil", "Usuario", new { id = @usuario.id_usuario })" type="button" id="see-@usuario.id_usuario" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a>
                            <button id="update-@usuario.id_usuario" class="btn btn-warning"><i class="fa fa-lock" aria-hidden="true"></i> Contraseña</button>
                            <button id="delete-@usuario.id_usuario" class="btn btn-danger margen-superior-15 @disabled"><i class="fa fa-user-times" aria-hidden="true"></i> Eliminar</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">No hay usuarios registrados a la fecha.</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="8" class="text-right">Usuarios de El Trebol</td>
            </tr>
        </tfoot>
    </table>
</div>

@section scripts_admin{
    @RenderPage("~/Views/Shared/Back_end/Sections/adminScripts.cshtml")

    @if (TempData["UserSucceed"] != null)
    {
        <script type="text/javascript">alertCrearUsuarios(@(TempData["UserSucceed"]), 'warning');</script>
    }
    else if (TempData["UserFail"] != null)
    {
        <script type="text/javascript">alertCrearUsuarios(@(TempData["UserFail"]), 'success');</script>
    }
}
