@model AppTP.Models.Comentario
<div class="modal fade" tabindex="-1" role="dialog" id=" modal_comentario_producto">
    <div class="modal-dialog">
        <div class="modal-content">
            @RenderPage("~/Views/Shared/Front_end/Alerts/alert_comentario.cshtml")
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Consulta</h4>
            </div>
            <div class="modal-body"> 
                @using (@Html.BeginForm("comentario", "Producto", FormMethod.Post, new { id = "frm_comentario_producto", name = "frm_comentario_producto" }))
                {
                    <div class="form-group">
                        <label for="NombreUsuario" class="sr-only">Nombre</label>
                        <div class="input-group">
                            <span class="input-group-addon">Nombre</span>
                            @Html.TextBoxFor(c => c.nombre, new { @class = "form-control", placeholder = "Nombre" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ApellidoUsuario" class="sr-only">Apellido</label>
                        <div class="input-group">
                            <span class="input-group-addon">Apellido</span>
                            @Html.TextBoxFor(c => c.apellido, new { @class = "form-control", placeholder = "Apellido" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Telefono" class="sr-only">Teléfono</label>
                        <div class="input-group">
                            <span class="input-group-addon">Teléfono</span>
                            @Html.TextBoxFor(c => c.apellido, new { @class = "form-control", placeholder = "Teléfono", type = "number", max = "11" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Celular" class="sr-only">Celular</label>
                        <div class="input-group">
                            <span class="input-group-addon">Celular</span>
                            @Html.TextBoxFor(c => c.celular, new { @class = "form-control", placeholder = "Celular", type = "number", max = "10" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <div class="input-group">
                            <span class="input-group-addon">Email</span>
                            @Html.TextBoxFor(c => c.mail, new { @class = "form-control", placeholder = "Email@email.com", type = "email" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Comentario" class="sr-only">Comentario</label>
                        <div class="input-group">
                            <span class="input-group-addon">Comentario</span>
                            @Html.TextAreaFor(c => c.comentario1, new { @class = "form-control", placeholder = "Ingrese el comentario", maxlength = "500", rows = "8" })
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btn_comentario" type="button" class="btn btn-primary">Comentar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->