@RenderPage("~/Views/Shared/Back_end/Alert/alert_usuario.cshtml")
<h1 class="element-inline-block"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Negocios concretados</h1>&nbsp;<a href="@Url.Action("alta_producto", "admin")" type="button" class="btn btn-primary btn-sm" id="alta_producto" , name="alta_producto"><i class="fa fa-cart-plus" aria-hidden="true"></i> Alta de producto</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Tipo de Negocio</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.cantClosed > 0)
        {
            foreach (var cerrados in ViewBag.negociosCerrados)
            {
                <tr>
                    <td>@cerrados.id_publicacion</td>
                    <td>@cerrados.titulo</td>
                    <td>@cerrados.Producto.nombre</td>
                    <td>@cerrados.precio</td>
                    <td>@cerrados.TipoNegocio.tipo</td>
                    <td>@cerrados.Estado.estado1</td>
                    <td>
                        <button class="btn btn-info">Ver</button>
                        <button class="btn btn-warning">Estado</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">No hay negocios concretados a la fecha</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" class="text-right">Negocios concretados el Trebol.</td>
        </tr>
    </tfoot>
</table>