@{
    ViewBag.Title = "Administración";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

    <div id="content_admin" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        @if (@Request.Url.AbsolutePath == "/admin" || @Request.Url.AbsolutePath == "/admin/")
        {
            @RenderPage("~/Views/Admin/Listados/listado_productos.cshtml")
        }
        else if (@Request.Url.AbsolutePath == "/admin/negocios_cerrados" || @Request.Url.AbsolutePath == "/admin/negocios_cerrados/")
        {
            @RenderPage("~/Views/Admin/Listados/negocios_cerrados.cshtml")
        }
    </div>

@section scripts_admin {
    @RenderPage("~/Views/Shared/Back_end/Sections/adminScripts.cshtml")
}